/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');




@media (max-width: 767px) {
    *{
       font-size:1rem; 
        margin :0;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }  
}
8?
/*telas medias*/

@media (min-width: 768px) and (max-width: 1024px) {
    *{
       font-size:1.4rem; 
        margin :0;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }  

}
@media (min-width: 1025px) {
    *{
       
       font-size:1.4rem; 
        margin :0;
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }  

}
*{
    color: white;
}
input{
    text-align: center;
    color: black;
}
body {
    display: flex;
}

#boneco {
    font-size: 3rem;
}

#div-boneco {    
    top: 50%;
    /*border: 2px solid green;*/
    height: 500px !important;
    width: 500px !important;
     top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: absolute;

}

body{
   /* background: url("back.jpg");*/
    background: black;
    background-size: cover;

.tema-titulo{
    color: cyan;
}

#btn_reset, #btn{
    border-radius: 10px;
}
#btn_reset{
    margin-top:20px;
    display: none;
}
#btn, #btn_reset{
    background-color: rgb(0,100,200);
    color: white;
}
#btn:hover, #btn_reset:hover{
    transition: 0.5s;
    background-color: white;
    color: rgb(0,100,200);
}
.main{
    /*border-radius: 10px ;
    padding: 50px;
    background-color: rgb(0, 115, 103);*/
    text-align: center ;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
}
input{
    border-radius: 6px;
}
#menssagem{
    /*color: darkred ;*/
}
 .main > a{
    text-decoration: none;
    color: black;
    padding: 3px;
    background-color: yellowgreen;
    font-size:1.2rem;
    border-radius: 15px;
    border: 2px solid white;
}
.main > a:hover{
    transition: 1s;
    background-color: cyan;
   }

h1{
    margin-top:15px;
}
